###########################################################################################
#
# GitLab version    : 5.x - 6.x
# Contributors      : davispuh, mtorromeo, axilleas, boeserwolf91
# Downloaded from   : https://github.com/gitlabhq/gitlab-recipes/tree/master/init/systemd 
#
###########################################################################################

[Unit]
Description=GitLab - Self Hosted Git Management
Requires=redis.service mysqld.service
After=redis.service mysqld.service syslog.target network.target

[Install]
WantedBy=multi-user.target
