#####################################################
#
# GitLab version    : 5.x - 6.x
# Contributors      : davispuh, mtorromeo, axilleas, boeserwolf91
# Downloaded from   : https://github.com/gitlabhq/gitlab-recipes/tree/master/init/systemd
#
####################################################

[Unit]
Description=GitLab Sidekiq Worker

[Service]
Type=forking
User=gitlab
WorkingDirectory=/usr/share/webapps/gitlab
Environment=RAILS_ENV=production
SyslogIdentifier=gitlab-sidekiq
PIDFile=/var/run/gitlab/sidekiq.pid

ExecStart=/usr/bin/bundle exec "sidekiq -q post_receive,mailer,system_hook,project_web_hook,gitlab_shell,common,default -e production -P /var/run/gitlab/sidekiq.pid -d -L log/sidekiq.log >> log/sidekiq.log 2>&1"
ExecStop=/usr/bin/bundle exec "sidekiqctl stop /var/run/gitlab/sidekiq.pid >> /usr/share/webapps/gitlab/log/sidekiq.log 2>&1"

[Install]
WantedBy=gitlab.target
