#####################################################
#
# GitLab version    : 8.x - 9.x
# Contributors      : davispuh, mtorromeo, axilleas, boeserwolf91, Stefan Tatschner (rumpelsepp), Keruspe
# Downloaded from   : https://gitlab.com/gitlab-org/gitlab-recipes/tree/master/init/systemd
#
####################################################

[Unit]
Description=Gitlab mailroom Worker

[Service]
User=git
Environment=RAILS_ENV=production
WorkingDirectory=/home/git/gitlab
SyslogIdentifier=gitlab-mailroom
ExecStart=/usr/bin/bundle exec "mail_room -q -c /home/git/gitlab/config/mail_room.yml"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
