#####################################################
#
# GitLab version    : 5.x - 6.x
# Contributors      : davispuh, mtorromeo, axilleas, boeserwolf91
# Downloaded from   : https://github.com/gitlabhq/gitlab-recipes/tree/master/init/systemd
#
####################################################

[Unit]
Description=GitLab Sidekiq Worker

[Service]
Type=forking
User=git
WorkingDirectory=/home/git/gitlab
Environment=RAILS_ENV=production
SyslogIdentifier=gitlab-sidekiq
PIDFile=/home/git/gitlab/tmp/pids/sidekiq.pid

ExecStart=/home/git/gitlab/script/background_jobs start
ExecStop=/home/git/gitlab/script/background_jobs stop
ExecReload=/home/git/gitlab/script/background_jobs restart

[Install]
WantedBy=gitlab.target
